<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <header>
      <div class="nav"><nav
          class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
        >
          <div
            class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
          >
            <a href="/" class="flex items-center">
              <span
                class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
              >Tech Blog</span>
            </a>
            <div class="flex items-center lg:order-2">
              <a
                href="/views/login.handlebars"
                class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
              >Log in</a>
            </div>

          </div>
        </nav>
      </div>
    </header>
    {{{body}}}


    <footer id="footer" class="fixed-bottom bg-light text-center text-dark">

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);"
      >

      </div>

    </footer>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>